<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="environment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="region" value="SouthCentralUS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
