<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="environment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="region" value="SouthCentralUS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="secret" value="HuOxBz510J1MrIz7ZYqVOaUqi98sB0VUW91Y2dektkj4Q3z7mIi4/MyBWVbVgEt4H1hZabYz1iAwmUjwkG1ehM8zxaea/mslwFge4bwqvksn9x7ZvrleaTl+Cp12KjOl++ifux+wDsIZCYQ9kmimm+9kpXTAkNKOgnq68xXQYqbWSj4aJ9UFgzJal5DZHY7gUeMYHhjviz0S8FAPGfgSFzW65hcuEraM/XxO22D8E1Au30Lf8E9tuUaL1NZQllTb96hPHMWyl/WXAz7M+CPfKEgCtxK4wwn1YDD+uZaN4g8H4eVRqjhjagyKtYmMTw9UP4go/9C0xNj9lA/Om7N0hw==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>